<!-- temporary CSS to copy from tempalte to template -->
<link rel="stylesheet" href="../css/theme.css">

ok we're going to make this a php file, then link it up to display on every product/sales page

<div class="container-fluid fixed-cta">
  <div class="row">
    <div class="col-md-12">
      <p>1.800.0000 | Request a Consultation</p>
    </div>
  </div>
</div>
