<!-- temporary CSS to copy from tempalte to template -->
<link rel="stylesheet" href="../css/theme.css">

<!-- slider -->

<div class="container-fluid slider">
    <div class="row">
      <div class="col-md-12">
        <h1>Empire Skype Connect</h1>
        <p>When you read the copy on this page you will know you've found everything you need to know about this product</p>
      </div>
    </div>
</div>

<div class="container-fluid flex-container opening-section">
  <div class="row">
    <div class="col-md-6 img empire-skype-connect">
      <p>'screenshot' but without a computer</p>
    </div>
    <div class="col-md-6 content">
      <h2>Brief, simple description of what the solution does</h2>
    </div>
  </div>
</div>

<!-- Full width -->

<div class="container-fluid flex-container reasons">
  <div class="row">
    <div class="col-md-6 content">
      <ul>
        <li>Real time access to all of your files</li>
        <li>Available from any office, globally anytime</li>
        <li>Unlimited Storage, grow from 2TB to 100TB</li>
        <li>Sync across appliances</li>
        <li>Plug and play deployment</li>
        <li>Hardware warranty, onside support</li>
      </ul>
    </div>
    <div class="col-md-6 img empire-skype connect">
      <p>screenshot of program imposed on a surface</p>
    </div>
  </div>
</div>

<div class="container-fluid price-table-container">
  <div class="row">
    <div class="col-md-12">
      <h3>three convenient solutions</h3>
    </div>
    <div class="col-md-4 price-table">
      <div class="content">
        <h4>$29</h4>
        <ul>
          <li>you get this</li>
          <li>and this</li>
          <li>and this</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 price-table">
      <div class="content">
        <h4>$49</h4>
        <ul>
          <li>you get this</li>
          <li>and this</li>
          <li>and this</li>
          <li>and this</li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 price-table">
      <div class="content">
        <h4>$99</h4>
        <ul>
          <li>you get this</li>
          <li>and this</li>
          <li>and this</li>
          <li>and this</li>
          <li>and this!</li>
        </ul>
      </div>
    </div>
  </div>
</div>
