<!-- temporary CSS to copy from tempalte to template -->
<link rel="stylesheet" href="../css/theme.css">

<!-- slider -->

<div class="container-fluid slider">
  <div class="row">
    <div class="col-md-12">
      <h1>Managed IT in the cloud</h1>
      <p>technical infrastructure solutions. lightweight. lightspeed.</p>
    </div>
  </div>
</div>

<!-- content -->

<div class="container-fluid flex-container product">
  <div class="row empire-cloud-storage">
    <div class="col-md-6">
      <div class="content">
        <h2>Empire Cloud Storage</h2>
        <p>This is the efficient storage solution you really need to progress at work.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
    <div class="col-md-6 img">

    </div>
  </div>
</div>

<div class="container-fluid flex-container product">
  <div class="row reverse empire-skype-connect">
    <div class="col-md-6">
      <div class="content">
        <h2>Empire Skype Connect</h2>
        <p>This is the efficient storage solution you really need to progress at work.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
    <div class="col-md-6 img">

    </div>
  </div>
</div>

<div class="container-fluid flex-container product">
  <div class="row professional-services">
    <div class="col-md-6">
      <div class="content">
        <h2>Professional Services</h2>
        <p>This is the efficient storage solution you really need to progress at work.</p>
        <a href="#">Learn More</a>
      </div>
    </div>
    <div class="col-md-6 img">

    </div>
  </div>
</div>

<div class="container-fluid partners">
  <div class="row">
    <div class="col-md-12">
      <h2>Empire Technology Partners</h2>
    </div>
    <div class="col-md-4"><div class="img"></div></div>
    <div class="col-md-4"><div class="img"></div></div>
    <div class="col-md-4"><div class="img"></div></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Join our network of partners</h2>
      <p>I like leading with the big names before this so that people who aren't buying imagine that the partners who would be applying would be companies like AWS or VMware/whatever! Not avg. resellers.</p>
      <a href="#">Join the Empire</a>
    </div>
  </div>
</div>

<div class="container contact">
  <div class="row">
    <div class="col-md-12">
      <h2>Semi-assertive suggestion to contact us</h3>
      <a href="#">Let's Talk!</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 location">
      <div class="card">
        <div class="image">
          <h3>Toronto</h3>
        </div>
        <div class="content">
          <p>Only say city because</p>
          <p>no country/state, just the empire</p>
          <p>416.000.0000</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 location">
      <div class="card">
        <div class="image">
          <h3>San Francisco</h3>
        </div>
        <div class="content">
          <p>Only say city because</p>
          <p>no country/state, just the empire</p>
          <p>???.ihav.enoi</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 location">
      <div class="card">
        <div class="image">
          <h3>New York</h3>
        </div>
        <div class="content">
          <p>Only say city because</p>
          <p>no country/state, just the empire</p>
          <p>nte.rne.tnow</p>
        </div>
      </div>
    </div>
  </div>
</div>
