// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere

$font-family-sans-serif:Arial, sans-serif;
$brand-primary:         #7852B2; //#ff6d5a

// Basics of a navbar
$navbar-height:                    60px;
$navbar-margin-bottom:             0px;
$navbar-border-radius:             0px;


// Solutions Sliders
$ecsImg: url(/wp-content/uploads/2017/08/empire-cloud-storage-3.jpg);
$escImg: url(/wp-content/uploads/2017/09/empire-skype-connect-arm.jpg);
$psImg: url(/wp-content/uploads/2017/08/young-people-meeting.jpg);
$egxImg: url(/wp-content/uploads/2017/09/empire-exchange.png);

$ecsImg525: url(/wp-content/uploads/2017/09/empire-cloud-storage-525.jpg);
$escImg525: url(/wp-content/uploads/2017/09/empire-skype-connect-arm.jpg);
$psImg525: url(/wp-content/uploads/2017/09/young-people-meeting-525.jpg);
$egxImg525: url(/wp-content/uploads/2017/09/empire-exchange.png);
