//fonts
body {
  font-family: "Quicksand", "din-2014","aktiv-grotesk", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", "din-2014","aktiv-grotesk", sans-serif;
  font-weight: 700;
}

// helpers

.displayNone {
  display:none;
}

//universal custom useful classes

.flex-container {
    min-height: 500px;
    display: flex;
    align-items: center;

    .row {
        width: 100%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}

.row.reverse {
    flex-direction: row-reverse;
}


.slider {
  min-height: 600px;
  min-height: 475px;
  min-height: 375px;
  max-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f7f7f7;
  padding-top: 80px;
  margin-top: -80px;
  z-index: -1;

    h1 {
      font-size: 3em;
      margin-bottom: 1em;
      color: #fff;
      text-shadow: 2px 2px 15px #000;
    }

    p {
      font-size: 1.3em;
    }
}

// hide bloatware

div#bitnami-banner {
    display: none;
}

//fixed cta

.fixed-cta {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: #014e7c;
      background: url(/wp-content/uploads/2017/06/all-blue-gradient.jpg);
      background-size: cover;
      min-height: 10vh;
      display: flex;
      align-items: center;
      z-index: 10;

      // new gradient
      background: #005C97;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      // end gradient

    .row {
      width: 100%;

      .col-md-12 {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .fa-phone {
            margin-right: 10px;
            position: relative;
            top: 3px;
          }

          p {
            color: #fff;
                font-size: 32px;
                position: relative;
                top: 15%;
                display: flex;
                align-items: center;
                // text-shadow: 0px 2px 10px #082838;
          }

          a {
            font-size: 26px;
            border: 2px solid #fff;
            border-radius: 5px;
            padding: 8px 18px 7px;
            color: #004e7e;
            margin-left: 25px;
            background: #fff;
            line-height: 1em;
            position: relative;
            text-shadow: none!important;
            box-shadow: 0 1px 11px #082838;
            /* font-size: 1.3rem; */
            font-size: 1.6rem;
            // border: 2px solid #005a8e;
            /* padding: 5px 19px; */
            // border-radius: 2px;
            font-weight: 600;
          }
      }
    }
}

// header

.es-nav {
    background-color: rgba(0, 90, 142, 0.7)!important;
    background: linear-gradient(rgba(0, 90, 142, 0.65),rgba(0, 90, 142, 0)) !important;
}

.enav {
  .navbar {
    .enav .navbar {
        min-height: 10vh;
        background: url(/wp-content/uploads/2017/05/acura-light-header.jpg);
        background: url(/wp-content/uploads/2017/06/blue-gradient.jpg);
        background: url(/wp-content/uploads/2017/06/all-blue-gradient-inverse.jpg);
        background: none !important;
        z-index: 2 !important;
    }


    .navbar-brand {
      font-weight: 700;
      color: #fff;
      font-size: 24px;
      font-size: 36px;
      text-shadow: 0px 2px 10px #082838;
    }

    .navbar-right {
      margin-left: auto;
    }

    li {
      display: flex;
      margin: 0 1rem;

      a {
        color: #fff;
        font-weight: 600;
        font-weight: 700;
        font-size: 22px;
        font-size: 24px;
        text-shadow: 0px 2px 10px #082838;
      }
    }
  }
}

// overlay menu

.overlay-menu {

}

.display-none {
  display:none;
}

// footer

#wrapper-footer {
  margin-bottom: 10vh;
  min-height: 300px;
  min-height: 200px;
  /* background: url(/wp-content/uploads/2017/05/footer-light-3.jpg); */
  background-size: cover;

  // footer is blue
  background: #396afc;
  background: -webkit-linear-gradient(90deg,#2948ff,#396afc);
  background: linear-gradient(90deg,#2948ff,#396afc);
// new blue
background: #005C97;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  .footerCol {
    h3 {
      font-size: 2em;
      margin-bottom: 0.75em;
      margin-top: 0.25em;
      color:#fff;
    }

    a {
      display: flex;
      font-size: 22px;
      line-height: 1.5em;
      font-family: din-2014;
      font-weight: 600;
      color: #fff;
    }
  }

}

// HOME


.home {
  .slider {

    // background: url(/wp-content/uploads/2017/05/bannerx1.jpg);
    // background: url(/wp-content/uploads/2017/06/triangle-network.jpg);
    background: url(/wp-content/uploads/2017/06/toronto-skyline-700.jpg);
    background-size: cover;
    background-position: 50%;
    // background-size: 125%;
    // background-size: 135%;
    background-position: 50% 0%;
    min-height: 600px;
    text-align: left;

    h1 {
      color: #fff;
      text-shadow: 2px 2px 15px #000;
      /* margin-bottom: 1rem; */
      margin-bottom: 1.25rem;
    }

    p {
      max-width: 1100px;
      font-weight: 600;
      text-shadow: 2px 2px 8px #000;
      font-size: 22px;
      color:#fff;
    }

  }
}

.empire-cloud-storage {
  .img {
    background: url(/wp-content/uploads/2017/05/CloudStorage.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.empire-skype-connect {
  .img {
    // background: url(/wp-content/uploads/2017/05/u32.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.professional-services {
  .img {
    background: url(/wp-content/uploads/2017/05/youngPros_sm.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.empire-global-connect {
  .img {
    background: url(/wp-content/uploads/2017/05/cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.product {
  h2 {
    font-size: 2.5em;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  a {
    font-size: 1.5em;
    padding: .75rem 1.5rem;
    background: #016893;
    background-size: cover;
    background-position: 50%;
    color: #fff;
    color: #005a8e;
    font-size: 1.3rem;
    background: none;
    border: 2px solid #005a8e;
    padding: 5px 19px;
    border-radius: 2px;
    font-weight: 600;
  }
}

.container-fluid.partners {
  padding: 4rem 1rem;
  background: #f7f7f7;
  text-align: center;
  background: url(/wp-content/uploads/2017/06/geo-sharp-white-bg.jpg);
  background-size: cover;
  background-position: center center;
  border: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;

    h2 {
      margin-bottom: 4rem;
      font-size: 2.5rem;
    }

    .row {
      max-width: 1200px;
      margin: auto;
    }

    .img {
      height: 98px;
      max-width: 230px;
      margin: 0 auto 1rem;
    }

    h3 {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
}

.contact {
  // padding: 4rem 0;
  margin-bottom: 10vh;
  background: url(/wp-content/uploads/2017/06/dot-footer.jpg);
  background: url(/wp-content/uploads/2017/06/locations-blue-white-lines.jpg);
  background-size: cover;
  background-position: center top;
  padding-top: 3em;
  padding-bottom: 3em;

  .cards {
      max-width: 1140px;
      margin: auto;
  }

  .col-md-12 {
    text-align: center;
    h2 {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }
    .card {
      text-align: left;
    }
  }

  .image.to {
    background: url(/wp-content/uploads/2017/05/toronto-empire-solutions.jpg);
    background-size: cover;
  }

  .image.pa {
    background: url(/wp-content/uploads/2017/05/palo-alto-empire-solutions.jpg);
    background-size: cover;
  }

  .image.ny {
    background: url(/wp-content/uploads/2017/05/nyc-empire-solutions.jpg);
    background-size: cover;
  }


  .location {
    padding: 2rem 0 0;

    .card {
      max-width: 300px;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.45);
      margin: auto;
    }

    .image {
      height: 175px;
      display: flex;
      align-items: flex-end;
      padding:1rem;

      h3 {
        margin: 0;
        color: #fff;
        text-shadow: 0 0 10px rgb(0, 0, 0);
      }
    }


    .content {
      padding:2rem 1rem;
      p {
        margin-bottom: 0.5em;
      }
    }
  }
}



//solutions page

.price-table-container {
  padding: 5rem 1rem;
  background: #f7f7f7;
  // background: url(/wp-content/uploads/2017/06/geo-sharp-white-bg.jpg);
  /* background: url(/wp-content/uploads/2017/06/storage-plans-white-boxes.jpg); */
  background: url(/wp-content/uploads/2017/06/storage-plans-white-boxes-dva.jpg);
  background-size: cover;
  background-position: 50%;
  border: 1px solid #e4e4e4;
  border-left: none;
  border-right: none;
  // margin-bottom: 10vh;

  .row {
      max-width: 1140px;
      margin: auto;
  }

  .col-md-12 {
    h3 {
      text-align: center;
      margin-bottom: 1em;
      font-size: 3em;
    }
  }

  .price-table {
    .content {
      border: 1px solid #ddd;
      background: #fff;
      max-width: 300px;
      margin: auto;
      padding: 2rem 1rem;
      box-shadow: 0 4px 20px rgba(0,0,0,.35);
      min-height: 450px;

      h3 {
        color: #005a8e;
        font-weight: 300;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
      }

      h4 {
        font-size: 1.45em;
        text-align: center;
        margin-bottom: 2rem;
      }
      ul {
        padding: 0 1.55rem;
      }
      li {
        font-size: 1.1em;
      }
    }
  }
}

// technology partners page

.page-template-partners .slider {
    // background: url(/wp-content/uploads/2017/06/lights-grid.jpg);
    // background: url(/wp-content/uploads/2017/06/blue-circuits.jpg);
    // background: url(/wp-content/uploads/2017/08/stock-photo-fashion-and-modern-office-interiors-483411280.jpg);
    /* background: url(/wp-content/uploads/2017/06/blue-neutral-circuits.jpg); */
    background: url(/wp-content/uploads/2017/08/partners-img.jpg);
    background-position: 50%;
    background-size: cover;
}

.img.aws {
  background: url(/wp-content/uploads/2017/05/AmazonWebservices_Logo.svg_.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.img.ms {
  background: url(/wp-content/uploads/2017/05/microsoft_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.img.hpe {
  background: url(/wp-content/uploads/2017/05/Hewlett_Packard_Enterprise_logo.svg_.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.img.cisco {
    background: url(/wp-content/uploads/2017/05/Cisco_logo.svg_.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.tech-partners {
  padding: 5rem 15px;
  background: url(/wp-content/uploads/2017/06/blue-white-lines.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #f3f4f6;

  .col-md-12 {
    max-width: 1200px;
    margin: auto;
  }

  h2 {
    text-align: center;
    margin-bottom: 2em;
  }

  .aws, .ms {
    .row-shell {
        max-width: 900px;
        margin-right: auto;
    }
  }

  .hpe, .cisco {
    .row-shell {
      max-width: 900px;
      margin-left: auto;
    }
  }

  .partner {
    margin: 2em -15px;

    .partner-row {
      background: #ededed;
      max-width: 720px;
      margin: auto;
      margin-bottom: 2em;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);

      .img {
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        h3 {
          background: #fff;
          display: inline-flex;
          margin: 0;
          position: relative;
          top: 20px;
          padding: 15px;
          left: 15px;
        }
      }

      .description {
          padding: 38px 15px 10px;
      }
    }
  }
}

.aws .img {
    background: url(/wp-content/uploads/2017/06/aws-datacenter.jpg);
    background-size: cover;
    background-position: center center;
}

.hpe .img {
    background: url(/wp-content/uploads/2017/06/image-2x-md.jpg);
    background-size: cover;
    background-position: center center;
}

.ms .img {
    background: url(/wp-content/uploads/2017/06/microsoft-enterprise.jpg);
    background-size: cover;
    background-position: center center;
}

.cisco .img {
    background: url(/wp-content/uploads/2017/06/cisco-architecture.jpg);
    background-size: cover;
    background-position: center center;
}

.join-empire {
      padding: 5rem 15px;
      margin-bottom: 10vh;

    h2 {
    text-align: center;
    margin-bottom: 0.5em;
    }
    p {
    text-align: center;
    }

    .empire-img-half .img {
        background: #888;
        height: 100px;
    }
}

// About Page

.about-intro {
  // make this a gmunk-esque pattern
  background: #fafafa;
  padding: 3em 15px;

  .row {
      max-width: 1200px;
      margin: auto;
      height: 300px;
      align-items: center;
  }
}

.industries {
      padding: 5em 15px;

      background: url(/wp-content/uploads/2017/06/blue-white-lines-rotate.jpg);
      border-top: 1px solid #f2f3f5;
      background-size: cover;
      background-position: center;

    .title {
      text-align: center;
      margin-bottom: 3em;
    }

    .sample-industry {
        background: #ededed;
        max-width: 500px;
        margin: auto;
        margin-bottom: 60px;
        box-shadow: 0 4px 20px rgba(0,0,0,.35);


        .img {
          background: #747474;
          height: 235px;
          display: flex;
          align-items: flex-end;
          height: 165px;
        }

          h3 {
            background: #fff;
            display: inline-flex;
            margin: 0;
            position: relative;
            top: 20px;
            padding: 15px;
            left: 15px;
            font-size: 20px
          }

          .description {
            padding: 2em 15px 1rem;
                min-height: 100px;
                min-height: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

          }

          p {
            margin-bottom: 0;
            font-weight: 600;
            padding: 0 10px;
          }

        }

// start industry banners

.a .img {
    background: url(/wp-content/uploads/2017/08/hospitality.jpg);
    background-size: cover;
    background-position: center center;
}

.b .img {
    background: url(/wp-content/uploads/2017/08/architecture.jpg);
    background-size: cover;
    background-position: center center;
}

.c .img {
    background: url(/wp-content/uploads/2017/08/retail.jpg);
    background-size: cover;
    background-position: center center;
}

.d .img {
    background: url(/wp-content/uploads/2017/08/finance.jpg);
    background-size: cover;
    background-position: center center;
}

.e .img {
    background: url(/wp-content/uploads/2017/08/automotive.jpg);
    background-size: cover;
    background-position: center center;
}

.f .img {
    background: url(/wp-content/uploads/2017/08/education.jpg);
    background-size: cover;
    background-position: center center;
}

.g .img {
    background: url(/wp-content/uploads/2017/08/arts-culture.jpg);
    background-size: cover;
    background-position: center center;
}

.h .img {
    background: url(/wp-content/uploads/2017/08/agriculture.jpg);
    background-size: cover;
    background-position: center center;
}

.i .img {
    background: url(/wp-content/uploads/2017/08/healthcare.jpg);
    background-size: cover;
    background-position: center center;
}

.j .img {
    background: url(/wp-content/uploads/2017/08/realestate.jpg);
    background-size: cover;
    background-position: center center;
}

.k .img {
    background: url(/wp-content/uploads/2017/06/supply-chain-homeland-security-IHS.jpg);
    background-size: cover;
    background-position: center center;
}

.l .img {
    background: url(/wp-content/uploads/2017/08/construction.jpg);
    background-size: cover;
    background-position: center center;
}


// end industry banners
    }



/*why to trust us image*/

// .page-template-empire-cloud-storage .reasons {
//     background: url(/wp-content/uploads/2017/06/datacentre.jpg);
//     background-position: center;
// }
//
// .page-template-empire-global-exchange .reasons {
//     background: url(/wp-content/uploads/2017/06/dot-grid-bg.jpg);
//     background-position: center;
// }
//
// .page-template-empire-skype-connect .reasons {
//     background: url(/wp-content/uploads/2017/06/bright-spark-bg.jpg);
//     background-position: 65%;
// }
//
// .page-template-professional-services .reasons {
//     background: url(/wp-content/uploads/2017/06/blue-lighs-bg.jpg);
//     background-size: cover;
//     background-position: center center;
//     margin-bottom: 10vh;
// }

.page-template-empire-skype-connect .slider {
    background: url(/wp-content/uploads/2017/06/light-rays-bg.jpg);

    background:$escImg;

    background-size: cover;
    background-position: center;
    background-position: 50% 20%;
}

/*top bgs*/
.page-template-empire-global-exchange .slider {
    background: $egxImg;
    background-position: center center;
    background-size: cover;
}

.page-template-professional-services .slider {
    background: $psImg;
    background-size: cover;
    background-position: center;
}

.page-template-empire-cloud-storage .slider {
    background: url(/wp-content/uploads/2017/06/white-lights-bg.jpg);
    background-size: cover;
    background: $ecsImg;
    background-position: 50% 25%;
}

.page-template-contact .slider {
    background: url(/wp-content/uploads/2017/06/blue-hex-star.jpg);
    background-position: center center;
    background-size: cover;
}

.page-template-about .slider {
    background: url(/wp-content/uploads/2017/06/wave-lights-grid.jpg);
    background-size: cover;
    background-position: center;
}

/*box*/

// .col-md-8.offset-md-1 {
//     background: rgba(255, 255, 255, 0.85);
//     padding: 2em 2em;
// }


/*buttons!*/

.partners a, .contact a {
    color: #005a8e;
    font-size: 1.3rem;
    border: 2px solid #005a8e;
    padding: 5px 19px;
    border-radius: 2px;
    font-weight: 600;
    display: -webkit-inline-box;
}



/*howitworks*/

.howitworks {

  padding-top: 40px;
  padding-bottom: 40px;

  h2 {
      font-size: 2.5em;
      margin-bottom: 1em;
  }

  li {
      font-size: 1.28em;
      margin-bottom: .8em;
  }
}

/*goes into container-fluid*/

.row-fluid {
  max-width: 1140px;
  margin: auto;
}

/* CROSS PLATFORM */

.cross-platform {

}

.diagram {

}

/* NETWORK MAP */

.network {

}

/* ACTIVE HEADER */

.slider-active {
    margin-top: 0px;
}

.inactive {
  display:none !important;
}

.es-nav-active {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgba(16, 42, 56, 0.85)!important;
  z-index: 10;

    .nav-container {
        height: 78px;
        position: absolute;
        position: fixed;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 6px;
        padding-right: 23px;
    }

    .nav-menu-area {
        flex-direction: column;
        color: #fff;

        .row {
            width: 100%;
        }

          }


        .nav-menu {
          h2 {
              font-size: 2.5em;
          }

          a {
              display: flex;
              font-size: 2em;
              color: #fff;
              font-weight: 500;
            }
        }
}

.solution-quarter {

  .solution-div {
    background: #fff;
    margin-bottom: 30px;

    h3 {
      color:#005a8e;
      padding: 10px 15px 0px;
    }

    p {
      color:#005a8e;
      padding: 0px 15px 10px;
    }

    img {
        width: 100%;
        height: 125px;
    }
    .quarter-img {
      width:100%;
      height:125px;
      background:#fff;
    }
    .quarter-img.ecs {
      background: $ecsImg525;
      background-size:cover;
      background-position: 50% 35%;
    }
    .quarter-img.esc {
      background: $escImg;
      background-size:cover;
      // background-position:center;
      background-position: 50% 25%;
    }
    .quarter-img.ps {
      background: $psImg525;
      background-size:cover;
      background-position:center;
    }
    .quarter-img.egx {
      background: $egxImg525;
      background-size:cover;
      background-position:center;
    }
  }

}

#closeNav {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0 2px 10px #082838;
}

// SOLUTIONS REVISED

// opening

.flex-container.opening-section {
    min-height: 400px;

    p {
        font-size: 24px;
    }
}


// reasons

.reasons {

  padding-top: 30px;
  padding-top: 70px;
  padding-bottom: 30px;
  padding-bottom: 70px;
  background: #00558b;
  background: #396afc;
  background: -webkit-linear-gradient(90deg,#2948ff,#396afc);
  background: linear-gradient(90deg,#2948ff,#396afc);
  background: #005c97;
  background: -webkit-linear-gradient(90deg,#363795,#005c97);
  background: linear-gradient(90deg,#363795,#005c97);


    .content {

      h2 {
        color: #fff;
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      li,p {
          font-size: 1.25em;
          line-height: 2em;
          color: #fff;
          font-size: 28px;
          line-height: 1.75em;
      }

    }
}

.flex-container.conMoreExp {
  min-height: 400px;
}

.more-explain {
  p,ul {
      font-size: 24px;
  }
}


// PARTNER reasons

.partnerReasons {
  min-height: 400px;
}

// partner FORM

.form {
  padding-top:25px;
  padding-bottom:25px;

  .partnerForm {

  }
}

// ABOUT PAGE

.join-network-of {
    padding-top: 35px;
}

// shorter sliders

.page-template-contact, .page-template-partners, .page-template-about {

  .slider {
      height: 400px;
      height: 375px;
  }

}

// Partnership Consultation form

.partnerForm {
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.38);
  border-radius: 8px;
  background: #f9fafc;
  padding-top: 15px;
  padding-bottom: 15px;

    .textHalf {
      h2 {
          color: #0f3363;
          font-size: 3rem;
          margin-bottom: 1rem;
      }
      h3 {
          margin-bottom: 2rem;
      }
      p {
        font-size: 22px;
      }

    }
    .formHalf {

    }

    input.wpcf7-form-control.wpcf7-submit {
    border: none;
    color: #fff;
    font-size: 18px;
    max-width: 250px;
    background: #fe8c00;
    background: -webkit-linear-gradient(to left, #f83600, #fe8c00);
    background: linear-gradient(to left, #f83600, #fe8c00);
    }
}

// Solutions Sliders

.solutionsSlider {

  height: 400px;
  height: 375px;

  h1 {
      font-size: 3em;
      font-size: 3.25em;
      margin-bottom: 2rem;
  }
}

.slider {
  p {
      font-weight: 600;
      text-shadow: 2px 2px 8px #000;
      font-size: 24px;
      color: #fff;
  }
}

// network available

.network {
    padding-top: 4em;
    padding-bottom: 4em;

    .legend {
      h2 {
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 20px;
      }
      span {
        font-weight: 700;
      }
      .green {
        color: #43A047;
      }
      .yellow {
        color: #FDD835;
      }
    }
    .map {
      background: url(/wp-content/uploads/2017/08/Google_world_map-9-1024x625.png);
      background-size: cover;
      background-position: center center;
      height: 350px;
    }
}

// Request Quote Button

a.requestQuote {
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 175px;
  padding: 6px 0;
  border: 1px solid #005a8e;
  color: #005a8e;
  font-size: 20px;
  border-radius: 3px;
  border-color: #ef6c00;
  background: #EF6C00;
  color: #fff;
}

// Modal window

#myModal {
  .modal-header {
    background: #396afc;
    background: -webkit-linear-gradient(90deg,#2948ff,#396afc);
    background: linear-gradient(90deg,#2948ff,#396afc);
    color: #fff;
  }

  .submitCol {
    input.wpcf7-form-control.wpcf7-submit {
    background: #fe8c00;
    background: -webkit-linear-gradient(270deg,#f83600,#fe8c00);
    background: linear-gradient(270deg,#f83600,#fe8c00);
    color: #fff;
    font-size: 20px;
    }
  }
}

// Home Product Backgrounds

.product.ecs {
    // background: url(/wp-content/uploads/2017/08/data-center-cropped.jpg);
    /* background: url(/wp-content/uploads/2017/08/home-networking.jpg); */
    // background: url(/wp-content/uploads/2017/08/datacenter-photo.jpg);
    background: $ecsImg;
    //
    background-size: cover;
    background-position: center;
}

.product.esc {
    background: url(/wp-content/uploads/2017/08/echo-white-edit-1024x267.jpg);
    background-size: cover;
    background-position: center;
}

.product.ps {
    background: url(/wp-content/uploads/2017/08/young-people-meeting.jpg);
    background-size: cover;
}

.product.egx {
    background: url(/wp-content/uploads/2017/08/data-center-cropped.jpg);
    background: url(/wp-content/uploads/2017/08/empire-skype-connect-home-bg.jpg);
    background-size: cover;
    background-position: center;
}

.product {
  .content {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 25px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
  }
}

//


.page-template-home {

  div#fixedCta {
    display: none;
  }

  .container-fluid.slider {
    .row {
      z-index: 2;
    }
  }

  // .container-fluid.slider::after {
  //   content: " ";
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   margin-top: -40px;
  //   // background: #ddd;
  //   background: linear-gradient(rgba(0,90,142,.0),rgba(0,90,142,.0),rgba(0, 90, 142, 0.2),rgb(0, 90, 142))!important;
  //   z-index: 1;
  // }

  #wrapper-footer {
    margin-bottom: 0;
  }

}


#homeTopCta {
    background: url(/wp-content/uploads/2017/08/homeTopCta.jpg);
    background-size: cover;
    background-position: 50%;
    min-height: 400px;
    padding: 20px 0;
    min-height: 350px;

    h2 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    }
    p {
    font-size: 20px;
    }
    input.wpcf7-form-control.wpcf7-submit {
    border: none;
    color: #fff;
    font-size: 18px;
    max-width: 250px;
    background: #fe8c00;
    background: -webkit-linear-gradient(270deg,#f83600,#fe8c00);
    background: linear-gradient(270deg,#f83600,#fe8c00);
    margin-top: 10px;
    }
}

// partners page again

.flex-container.form {
    background: url(/wp-content/uploads/2017/08/empire-skype-connect-home-bg.jpg);
    background-size: cover;
}

// shiftnav-toggle-main

.shiftnav-main-toggle-content.shiftnav-toggle-main-block {
    padding: 12px 6px !important;
    line-height: 1 !important;
}

#shiftnav-toggle-main {
    background: #005c97 !important;
    background: -webkit-linear-gradient(90deg,#363795,#005c97) !important;
    background: linear-gradient(90deg,#363795,#005c97) !important;
}

.shiftnav-toggle-main-block a {
    font-family: "din-2014","aktiv-grotesk","sans-serif" !important;
    font-size: 28px !important;
    font-weight: 800 !important;
}

.shiftnav-nav .menu-item {
    width: 100% !important;
}

.shiftnav-inner {
    background: #005c97 !important;
    background: -webkit-linear-gradient(90deg,#363795,#005c97) !important;
    background: linear-gradient(90deg,#363795,#005c97) !important;
}

a.shiftnav-target {
    background: #005c97 !important;
    background: -webkit-linear-gradient(90deg,#363795,#005c97) !important;
    background: linear-gradient(90deg,#363795,#005c97) !important;
    border: 0px !important;
    border-bottom: 1px solid #2b2c78 !important;
    text-transform: capitalize !important;
    font-size: 18px !important;
}

//

.contactFormCon {
  padding-top: 50px;
  padding-bottom: 40px;

  .row {
    align-items: baseline;
  }

  h3 {
    color: #204696;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    // background: linear-gradient(hsla(0,0%,100%,0),hsla(221, 65%, 36%, 0.1));
  }

  .letsTalkNow {
    text-align: center;

    p {
    font-size: 20px;

    span {
    font-weight: 700;
    }
    }

    .phoneform {
    align-items: center;
    justify-content: center;
    }
  }

  .bookMeeting {
    text-align: center;

    input#input_1_2.datepicker {
    width: 85%;
    }

    .halfMeeting {
    width: 50%;
    display: inline-block;

    }

    .gform_footer.top_label {
    padding: 0;
    text-align: center;
    }

    input#gform_submit_button_1 {
      background-color: #f28411;
      color: #fff;
      border: 1px solid #fff;
      font-size: 21px;
      display: inline-block;
      padding: 10px 25px;
      line-height: 100%;
      font-family: Quicksand;
      border-radius: 5px;
    }

    input#gform_submit_button_1:hover {
      background-color: #cf6a00;
    }

  }

}

.profServFormCol {
  h2 {
    margin-bottom: 1em;
    margin-top: 1em;
    color: #1f4796;
    font-weight: 700;
  }

  .gform_footer.top_label {
    padding: 0;
    text-align: center;
  }

  input#gform_submit_button_2 {
    background-color: #f28411;
    color: #fff;
    border: 1px solid #fff;
    font-size: 21px;
    display: inline-block;
    padding: 10px 25px;
    line-height: 100%;
    font-family: Quicksand;
    border-radius: 5px;
  }
}

.halfMeeting {
width: 50%;
display: inline-block;
  .gfield_select {
    height: 38px;
    width: 85% !important;
  }
}

.page-template-professional-services .flex-container.reasons .row {
    align-items: baseline;
}

.ps-title {
  text-align: center;
}

.profServFormCon {
    padding-top: 40px;
    padding-bottom: 40px;
}

.partnerFormIntro {

    h2 {
     color: #1b4996;
     margin-top: 1rem;
    }


    .gform_footer.top_label {
    padding: 0;
    text-align: center;
    }

    input#gform_submit_button_3 {
    background-color: #f28411;
    color: #fff;
    border: 1px solid #fff;
    font-size: 21px;
    display: inline-block;
    padding: 10px 25px;
    line-height: 100%;
    font-family: Quicksand;
    border-radius: 5px;
    }

}

.networkMap {
  padding-top: 40px;
  padding-bottom: 40px;

  .col-md-12 {
    h2 {
      text-align: center;
    }
  }
  .mapImg {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

span.available {
    background: #DCEDC8;
    color: #558B2F;
    padding: 4px 12px;
    border-radius: 4px;
}

span.unav {
    background: #FFECB3;
    color: #EF6C00;
    padding: 4px 12px;
    border-radius: 4px;
}

//

input#gform_submit_button_2 {
    background-color: #f28411;
    color: #fff;
    border: 1px solid #fff;
    font-size: 21px;
    display: inline-block;
    padding: 10px 25px;
    line-height: 100%;
    font-family: Quicksand;
    border-radius: 5px;
}


// Modal window

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 600px;
      max-width: 550px;
      margin: 50px auto;
  }
}

.modal-body .gform_wrapper {

  form {
      max-width: 500px;
      margin: 0 auto;
      padding: 0 10px;
  }

  h3.gform_title {
    color: #00497e;
    font-size: 32px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
  }

  .gform_footer.top_label {
    text-align: center;
  }
}


.modal-body input.gform_button.button {
    background-color: #43A047;
    color: #fff;
    border: 1px solid #fff;
    font-size: 21px;
    display: inline-block;
    padding: 10px 25px;
    line-height: 100%;
    font-family: Quicksand;
    border-radius: 5px;
}

@media (max-width:575px) {
  .modal-dialog.modalForm {
    margin-top: 65px;
  }
}

// Contact Boxes return

.contactWrapper {

}

button#CallMe, button#schedule-meeting-button {
    background-color: #f28411;
    border-color: #f28411;
}

// .contactFormCon .letsTalkNow {
//     text-align: center;
//     margin-top: auto;
//     margin-bottom: auto;
//
// }

.schedBtn {
    display: flex;
    justify-content: center;
}

// remove footer on product pages

.page-template-empire-cloud-storage, .page-template-empire-skype-connect, .page-template-professional-services, .page-template-empire-global-exchange  {

  padding-bottom: 10vh;

  #wrapper-footer {
      display: none;
  }

  #priceTable {
    display: none;
  }

}

// DRIFT CSS

.widget-container div button {
    display: none;
}

// email contact page

.page-template-contact div#ReqCon {
    min-height: 300px;
    padding-top: 10px;
}

.simpleEmail {

  padding-top: 50px;
  padding-bottom: 20px;

  .row {
      justify-content: center;
      text-align: center;
  }

  .email {

    p {
      color: #204696;
      font-size: 22px;
      font-weight: 600;
      background: #fafafa;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px;

      span {
      color: #333;
      margin-left:10px;
      }
    }

  }


}

.poweredByImg {
    background: #fff;
    display: -webkit-inline-box;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 8px 2px rgba(0,0,0,.18); */
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;

    img {
    max-height: 75px;
    /* max-height: 50px; */
    margin-top: 15px;
    margin-bottom: 20px;
    }
}

// form

.partHalf {
  width: 50%;
  display: inline-block;
  input {
    width: 100% !important;
  }
}

@media (max-width:500px) {
  .partHalf {
    width: 100%;
    display: inline-block;
  }
}

// drift

#root button {
  display: none !important;
}

.home #root button {
  display: flex;
}

.drift-open-chat {
    cursor: pointer;
}

.egx .img img {
    padding: 23px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.22);
    /* transform: rotateY(-24deg); */
    /* transform: rotateX(-32deg); */
    // transform: rotate3d(0,45,-8,15deg);
}

@media (max-width:500px) {
  button#CallMe {
    margin-top: 10px;
  }
  .product a {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

// PLANS

#ReqCon {
    flex-direction: column;
    padding-bottom: 6em;

    .plans {
    text-align: center;
    margin-bottom: 6em;
    margin-top: 2em;

      .primary {
        font-size: 36px;
        font-weight: 600;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
      }

      .secondary {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
      }
    }
}

// mobile menu


.mobileMenu {
  display: none;
}

.overlayMenu {
  display: none;
}

@media (max-width:768px) {

  .mobileMenu {
    display: none;
    display: block;
    position: relative;
    position: fixed;
    top: 0px;
    background: #085797;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;

    h1 a {
    color: #fff;
    font-size: 28px;
    }

    i#activeBars {
    color: #fff;
    font-size: 20px;
    }
  }

}

.displayNow {
  display: block!important;
      position: fixed;
      z-index: 2000;
      background: linear-gradient(rgba(0,0,0,.95),rgba(0,0,0,.85));
      height: 100vh;
      top: 0;
      padding: 2vh 12px;
}

.overlayMenu {
  .content {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;

    h2 {
    color: #fff;
    border-bottom: 2px solid #ddd;
    padding-bottom: 8px;
    margin-bottom: 16px;
    }
    a {
    color: #fff;
    font-size: 22px;
    line-height: 1.75em;
    }
  }
}

div#x {
    z-index: 100000;
    color: #fff !important;
    margin-left: auto;
    text-align: right;
    font-size: 36px;
    position: relative;
    right: 10px;
}

// twilio button

button.twilio_call_button {
    background-color: #f28411;
    border-color: #f28411;
    border: none;
    border-radius: 5px;
    padding: 10px 12px;
    line-height: 1em;
    color: #fff;
}

input.twilio_call_number {
    padding: 5px 4px;
    border-radius: 4px;
    border: 1px solid #acacac !important;
}

// tel links

a.fixed-tel-link {
    background: none !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 300 !important;
    font-size: 30px !important;
    position: relative;
    bottom: 2px;
    margin-left: 0px !important;
    padding: 8px 8px !important;
}

.poweredby {
  p {
      margin-top: 1.1em;
      font-size: 15px !important;
      font-weight: 700;
      color: #555;
      line-height: 1em;
  }
  .fa {
      display: none;
  }
}


@media (max-width:829px) {

  button.twilio_call_button {
      margin-top: 15px;
      font-size: 18px;
  }
  #schedule-meeting-button {
    font-size: 18px;
  }
}

// phone numbers

a.hiddentel {
    border: none;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

a.hiddentel:hover {
    text-decoration: none;
    cursor: default;
}

a.hiddentel.formhiddentel {
    font-size: 20px;
    font-weight: 700;
    color: #204696;
}
