// BOOTSTRAP SET MEDIA QUERIRES

@media (max-width: 992px) {

  button.navbar-toggler {
      display: none;
  }

  .container.nav-container {
      display: flex;

  }

  ul#navbar-right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

}

@media (min-width:768px) {
  div#shiftnav-toggle-main {
    display: none;
  }
}

@media (max-width: 768px) {

  ul#navbar-right {
      display: none;
  }

  .flex-container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .partnerReasons {
    min-height: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .opening-section, .conMoreExp, .howitworks {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar-brand {
    display: none;
  }

  .letsTalkNow, .bookMeeting {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

}

@media (max-width: 576px) {

  .fixed-cta .row {
    i.fa.fa-phone {
    display: none;
    }
    p {
        flex-direction: column;
    }
  }

  .price-table {
    margin-bottom: 25px;
  }

  // rest of mobile here

  .slider {
    margin-top: 25px;
    min-height: 500px !important;
    max-height: 100vh!important;
  }

  .row.reverse {
    flex-direction: column-reverse;

      img {
        margin-bottom: 1.5rem;
      }
    }

  .product.ps {
    background-position: 42%;
  }

  .contactFormCon .bookMeeting .halfMeeting {
    width: 100%;
  }

  .halfMeeting {
    width: 100%;
  }

  #wrapper-footer {
    padding-bottom: 10vh;
  }


  //

  .fixed-cta .row {
    width: 100vw;
    align-items: center;
    justify-content: center;
  }

  .fixed-cta .row .col-md-12 a {
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.page-template-contact div#fixedCta {
    display: none;
}

.container-fluid.slider {
    padding-bottom: 12vh;
}


  // end rest of mobile
}

// OTHER MEDIA QUERIES

@media (max-height:600px) {
  .solution-quarter .solution-div .img {
    height: 75px;
  }
}

@media (max-height:550px) {
  .solution-quarter .solution-div .img {
    display:none;
  }
}

.networkMap {

  .center {
    text-align: center;
  }
}
